[submodule "lib/evm-cctp-contracts"]
	path = lib/evm-cctp-contracts
	url = https://github.com/circlefin/evm-cctp-contracts
[submodule "lib/cctp-contracts"]
	path = lib/cctp-contracts
	url = https://github.com/noble-assets/cctp-contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/forge-gas-snapshot"]
	path = lib/forge-gas-snapshot
	url = https://github.com/marktoda/forge-gas-snapshot
